
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
#featured-property{
  text-align:center;
}
#featured-property>figure>figcaption {
  font-size: 80%;
}
.menu>a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
#featured-property>p {
  width:800px;
  margin-left: 280px;
  margin-right: 280px;
    
}
#details>div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}